---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
SortIncludes: false
AllowShortIfStatementsOnASingleLine: Never
PointerAlignment: Left
