html {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
  background: rgb(0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
}

#frame {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

#scrump {
  color: white;
  font-family: monospace;
  height: 4096px;
}

canvas {
  user-select: none;
  touch-action: none;
  image-rendering: pixelated;
}

.notready {
  display: none;
}