html {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: touch;
  background: rgb(0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#frame {
  /* padding-top: 128px; */
  height: 100%;
}

canvas {
  user-select: none;
  touch-action: none;
  image-rendering: pixelated;
}