html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background: linear-gradient(1deg, rgba(236, 236, 172, 1) 0%, rgba(247, 255, 71, 1) 11%, rgba(0, 0, 0, 1) 16%, rgba(247, 255, 71, 1) 20%, rgba(74, 42, 42, 1) 100%);
}