@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */

@font-face {
  font-family: 'IBM_VGA';
  src: url('./IBM_VGA.ttf')
}

html,
body {
  background-color: black;
}

html,
body,
#engine {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

#overflow-widgets {
  z-index: 20000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

#overflow-widgets.monaco-editor {
  background: transparent;
}

.mtext {
  font-family: 'Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace';
}

.error-line {
  background-color: rgba(179, 10, 10, 0.25);
}

.error-text {
  font-weight: 300;
  color: rgb(179, 80, 80) !important;
}

/* purgecss end ignore */